@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
}    

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/O7ZWigt.png");
    background-size:cover;
    font-family: 'Press Start 2P', cursive;
    align-content: center;
}

#pokedex {
    width: 60%;
    height: 450px;
    margin: auto;
    margin-top: 3%;
    background-color: rgb(240, 0, 50);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(184, 0, 37);
    display: flex;
}

#leftHalf {
    width: 40%;
    margin: 5%;
}

#searchDiv {
    padding: 5%;
    padding-top: 0;
}

#inputField {
    width: 80%;
    font-family: 'Press Start 2P', cursive;
}

#searchBtn {
    width: 84%;
    font-family: 'Press Start 2P', cursive;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    padding: 15px 32px;
    display: inline-block;
}

#sprite {
    margin: 5%;
    width: 73%;
    height: 68%;
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(184, 0, 37);
}

#rightHalf {
    width: 40%;
    margin: 5%;
}

#infoDiv {
    width: 80%;
    height: 90%;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(184, 0, 37);
}
